<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <header>
        <div class="header__line"></div>
            <div class="container">
                <div class="logo">
                    <a href="#">Buycar</a>
                </div>
                <div class="search_acc">
                    <div class="search">
                        <form>
                            <input type="text" class="search1">
                            <a href="#" class="search-icon">
                                <img src="{{url_for('static', filename='images/image_21.png')}}" alt="Поиск">
                            </a>
                        </form>
                    </div>
                    <div class="acc">
                        <a href="#" class="account-icon">
                            <img src="{{url_for('static', filename='/images/account-icon.png')}}" alt="Авторизация">
                        </a>
                        <div class="account-line"></div>
                        <div class="city-label">Москва</div>
                    </div>
                </div>
            </div>
    </header>
    <div class="img1">
        <img src="{{url_for('static', filename='images/image1.png')}}" alt="pic">
    </div>
    <a href="{{ url_for('login_page')}}">
    <button>Войти</button>
    </a>
    <a href="{{ url_for('registration')}}">
        <button>Зарегистрироваться</button>
    </a>
    <div class="filters">
        <div class="color-bar">
            <span class="filt-choose">Выбрать:</span>
            <a href="#" class="filt">брэнд:</a>
            <a href="#" class="filt">модель</a>
            <a href="#" class="filt">год выпуска</a>
            <a href="#" class="filt">цену</a>
            <a href="#" class="filt">привод</a>
            <a href="#" class="filt">тип коробки</a>
        </div>
    </div>
    <div class="cars">
        <div class="vertical-line">
            {% for i in range(0, len) %}
                <div class="cars1-imgs">
                    <a href="#" class="cars1-img1">
                        <img src="{{ ads1[i].picture }}" alt="Image" width="500" height="400">
                    </a>
                    <a href="#" class="cars1-img2">
                        <img src="{{ ads2[i].picture }}" alt="Image" width="500" height="400">
                    </a>
                </div>
                <div class="cars1-texts">
                    <div class="cars1-text1">
                        <div class="text1" >{{ "{0} {1} {2}".format(ads1[i].brand, ads1[i].model, ads1[i].year) }}</div>
                        <div class="text2">{{ "{0} {1} ₽".format("Цена:", ads1[i].price) }}</div>
                    </div>
                    <div class="cars1-text2">
                        <div class="text1" >{{ "{0} {1} {2}".format(ads2[i].brand, ads2[i].model, ads2[i].year) }}</div>
                        <div class="text2">{{ "{0} {1} ₽".format("Цена:", ads2[i].price) }}</div>
                    </div>
                </div>
                <div class="horisontal-line"></div>
            {% endfor %}
        </div>
        <a href="#" class="custom-button">Посмотреть другие предложения</a>
        <div class="care">
            <img src="{{url_for('static', filename='images/image13.png')}}" class="img13">
            <div class="image__texts">
                <div class="image__text1">С заботой о покупателях</div>
                <div class="underline"></div>
                <div class="image__text2">У каждой машины проверяются документы, наличие<br> учета в ГИБДД и подлинность этих данных. С нами вы<br> можете гарантированно оформить безопасную сделку.</div>
            </div>
        </div>
        <div class="back">
            <div class="back__text1">Будь в курсе новых<br> предложений</div>
            <div class="back__text2">Узнавайте первыми о поступлении новых<br> товаров, скидках и новостях.</div>
            <div class="back__text3">Для этого укажите свой email:</div>
            <div class="email">
                <input type="text" class="email1">
                <a href="#" class="send__button">
                    <img src="{{url_for('static', filename='images/Arrow1.svg')}}" class="arrow">
                </a>
            </div>
        </div>
    </div>

</body>
</html>