<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyCar</title>

    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="header__line"></div>
    <div class="container">
        <div class="logo">
            <a>Buycar</a>
        </div>
        <div class="search_acc">
            <div class="search">
                <form>
                    <input type="text" class="search1">
                    <a href="#" class="search-icon">
                        <img src="{{url_for('static', filename='images/image_21.png')}}" alt="Поиск">
                    </a>
                </form>
            </div>
            <div class="acc">
                {% if current_user.is_authenticated %}
                    <a class="account-icon" href="{{ url_for('user_page', username = current_user.nickname) }}">
                        <img src="{{ url_for('static', filename='/images/account-icon.png') }}" alt="Авторизация">
                    </a>
                    <div class="account-line"></div>
                {% else %}
                    <a class="account-icon" href="{{ url_for('login_page') }}">
                        Войти
                    </a>
                    <div class="account-line"></div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="img1">
        <img src="{{url_for('static', filename='images/image1.png')}}" alt="pic">
    </div>
<!--    <a href="{{ url_for('login_page')}}">-->
<!--    <button>Войти</button>-->
<!--    </a>-->
<!--    <a href="{{ url_for('registration')}}">-->
<!--        <button>Зарегистрироваться</button>-->
<!--    </a>-->
    <div class="filters">
        <form action="/" method='POST' class="color-bar">
            <span class="filt-choose">Выбрать:</span>
            <a class="filt">Выбрать город:
                <select name="city" class="filt" autocomplete="off">
                    {% for city in cities %}
                        <option value="{{city}}">
                            {{city}}
                        </option>
                    {% endfor %}
                </select>
            </a>
            <a class="filt">Марку:
                <select name="brand" class="filt" autocomplete="off">
                    {% for brand in brands %}
                        <option value="{{brand}}">
                            {{ brand }}
                        </option>
                    {% endfor %}
                </select>
            </a>
            <a class="filt">Модель:
                <select name="model" class="filt" autocomplete="off">
                    {% for model in models %}
                        <option value="{{model}}">
                            {{ model }}
                        </option>
                    {% endfor %}
                </select>
            </a>
            <a class="filt">Год выпуска:
                <select name="year" class="filt" autocomplete="off">
                    {% for year in years %}
                        <option value="{{year}}">
                            {{ year }}
                        </option>
                    {% endfor %}
                </select>
            </a>
            <a class="filt">Цена:
                <input type="number" placeholder="от" name="price_from">
                <input type="number" placeholder="до" name="price_to">
            </a>
            <a class="filt">Тип коробки
                <select name="transmission" class="filt" autocomplete="off">
                    {% for tr in trans %}
                        <option value="{{tr}}">
                            {{ tr }}
                        </option>
                    {% endfor %}
                </select>
            </a>
            <a class="filt">
                <button type="submit" class="filt">Поиск</button>
            </a>
        </form>
    </div>
    <div class="cars">
        {% if len == 1 %}
            <div class="vertical-line22">
                <div class="cars1-imgs">
                    <a class="cars1-img1" href="{{url_for('car_page', ID = ads[0].id)}}">
                        <img src="{{ ads[0].img_url }}" alt="Image" width="500" height="400">
                    </a>
                </div>
                <div class="cars1-texts">
                    <div class="cars1-text1">
                        <div class="text1">
                            <a class="text1" href="{{url_for('car_page', ID = ads[0].id)}} ">
                                {{ "{0} {1} {2}".format(ads[0].brand, ads[0].model, ads[0].year) }}
                            </a>
                        </div>
                        <div class="text2">{{ "Цена: {0} ₽".format(ads[0].price) }}</div>
                    </div>
                </div>
                <div class="horisontal-line"></div>
            </div>
        {% else %}
            <div class="vertical-line">
                {% for i in range(0, 2, 2) %}
                    <div class="cars1-imgs">
                        <a class="cars1-img1" href="{{url_for('car_page', ID = ads[i].id)}}">
                            <img src="{{ ads[i].img_url }}" alt="Image" width="500" height="400">
                        </a>
                        <a class="cars1-img2" href="{{url_for('car_page', ID = ads[i+1].id)}}">
                            <img src="{{ ads[i+1].img_url }}" alt="Image" width="500" height="400">
                        </a>
                    </div>
                    <div class="cars1-texts">
                        <div class="cars1-text1">
                            <div class="text1">
                                <a class="text1" href="{{url_for('car_page', ID = ads[i].id)}} ">
                                    {{ "{0} {1} {2}".format(ads[i].brand, ads[i].model, ads[i].year) }}
                                </a>
                            </div>
                            <div class="text2">{{ "Цена: {0} ₽".format(ads[i].price) }}</div>
                        </div>
                        <div class="cars1-text2">
                            <div class="text1" href="{{url_for('car_page', ID = ads[i+1].id)}}">
                                <a class="text1" href="{{url_for('car_page', ID = ads[i+1].id)}}">
                                    {{ "{0} {1} {2}".format(ads[i+1].brand, ads[i+1].model, ads[i+1].year) }}
                                </a>
                            </div>
                            <div class="text2">{{ "Цена: {0} ₽".format(ads[i+1].price) }}</div>
                        </div>
                    </div>
                    <div class="horisontal-line"></div>
                {% endfor %}
                {% for i in range(2, len, 3) %}
                    <div class="cars1-imgs">
                        <a class="cars1-img1" href="{{url_for('car_page', ID = ads[i].id)}}">
                            <img src="{{ ads[i].img_url }}" alt="Image" width="500" height="400">
                        </a>
                        <a class="cars1-img2" href="{{url_for('car_page', ID = ads[i+1].id)}}">
                            <img src="{{ ads[i+1].img_url }}" alt="Image" width="500" height="400">
                        </a>
                    </div>
                    <div class="cars1-texts">
                        <div class="cars1-text1">
                            <div class="text1">
                                <a class="text1" href="{{url_for('car_page', ID = ads[i].id)}} ">
                                    {{ "{0} {1} {2}".format(ads[i].brand, ads[i].model, ads[i].year) }}
                                </a>
                            </div>
                            <div class="text2">{{ "Цена: {0} ₽".format(ads[i].price) }}</div>
                        </div>
                        <div class="cars1-text2">
                            <div class="text1" href="{{url_for('car_page', ID = ads[i+1].id)}}">
                                <a class="text1" href="{{url_for('car_page', ID = ads[i+1].id)}}">
                                    {{ "{0} {1} {2}".format(ads[i+1].brand, ads[i+1].model, ads[i+1].year) }}
                                </a>
                            </div>
                            <div class="text2">{{ "Цена: {0} ₽".format(ads[i+1].price) }}</div>
                        </div>
                    </div>
<!--                    <div>-->
<!--                        ТРЕТЬЕ ОБЪЯВЛЕНИЕ-->
<!--                    </div>-->
                    <div class="horisontal-line"></div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="care">
            <img src="{{url_for('static', filename='images/image13.png')}}" class="img13">
            <div class="image__texts">
                <div class="image__text1">С заботой о покупателях</div>
                <div class="underline"></div>
                <div class="image__text2">У каждой машины проверяются документы, наличие<br> учета в ГИБДД и подлинность этих данных. С нами вы<br> можете гарантированно оформить безопасную сделку.</div>
            </div>
        </div>
        <div class="back">
            <div class="back__text1">Будь в курсе новых<br> предложений</div>
            <div class="back__text2">Узнавайте первыми о поступлении новых<br> товаров, скидках и новостях.</div>
            <div class="back__text3">Для этого укажите свой email:</div>
            <div class="email">
                <input type="text" class="email1">
                <a href="#" class="send__button">
                    <img src="{{url_for('static', filename='images/Arrow1.svg')}}" class="arrow">
                </a>
            </div>
        </div>
    </div>

</body>
</html>