<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
{% for ad in ads %}
    <h2><div>{{ ad[0] }}</div></h2>
    <div>Цена : {{ ad[2] }}</div>
    <div>Город : {{ ad[3] }}</div>
    <div>Пробег : {{ ad[7] }}</div>
    <div>Двигатель : {{ ad[4] }}</div>
    <div>Коробка передач : {{ ad[5] }}</div>
    <div>Привод : {{ ad[6] }}</div>
    <div>Ссылка на объявление : <a href="{{ad[1]}}">{{ ad[1] }}</a></div>
    <div> --------------------------------------------------- </div>
{% endfor %}
</body>
</html>