<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info</title>
</head>
<body>
{% for m in mmm %}
    <h2><div>Car : {{ m[0] }}</div></h2>
    <div>Price : {{ m[2] }}</div>
    <div>City : {{ m[3] }}</div>
    <div>Motor : {{ m[4] }}</div>
    <div>Transmission : {{ m[5] }}</div>
    <div>Drive : {{ m[6] }}</div>
    <div>Advertisement : <a href="{{m[1]}}">{{ m[1] }}</a></div>
    <div> --------------------------------------------------- </div>
{% endfor %}
</body>
</html>