<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="cars">
        <div class="vertical-line22">
            <div class="cars1-imgs">
                <img src="{{ ad.img_url }}" alt="Image" width="500" height="400">
            </div>
            <div class="cars1-texts">
                <div class="cars1-text1">
                    <div class="text1" >
                        {{ "{0} {1} {2}".format(ad.brand, ad.model, ad.year) }}
                    </div>
                    <div class="text2">{{ "Цена: {0} ₽".format(ad.price) }}</div>
                </div>
            </div>
            <div class="horisontal-line"></div>
        </div>
    </div>
</body>
</html>