@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz@8..144&family=Roboto+Mono&display=swap');

* {
    margin:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
}

.header__line {
    width: 1440px;
    height: 60px;
    flex-shrink: 0;
}

.container {
    width: 1315px;
    height: 46px;
    margin: 23px auto;
    display: flex;
    justify-content: space-between;
}

.search_acc {
    display: flex;
    align-items: center; 
}

.logo {
    width: 429px;
    height: 68px;
    flex-shrink: 0;
}

.logo a {
    color: rgba(26, 26, 26, 0.71);
    text-align: right;
    font-family: Roboto Mono;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
}

.search {
    position: relative; 
    display: flex; 
}

.search1 {
    width: 482.121px;
    height: 43px;
    flex-shrink: 0;
    border: 1px solid #DDD;
}

a.search-icon {
    position: absolute; 
    width: 30px;
    height: 29px;
    right: 15px; 
    top: 50%; 
    transform: translateY(-50%); 
}

.acc {
    margin-bottom: 5px;
}


form {
    width: 500.144px;
    height: 63px;
    flex-shrink: 0;
    border: 1px solid #DDD;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.20);
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.account-icon {
    width: 39px;
    height: 35px;
    margin-left: 49px;
    position: relative;
    top: 6px;
}

.account-line {
    width: 107px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
    border-top: 1px solid #A78989; 
    margin-left: 12px;
    margin-top: 5px;
}

.city-label {
    width: 89px;
    height: 26px;
    flex-shrink: 0;
    text-align: center;
    font-style: normal;
    font-family: 'Roboto Flex', sans-serif; 
    font-size: 20px; 
    font-weight: 400; 
    color: #4E4F3A;
    line-height: 20px;
    margin-left: 25px;
    margin-top: 4px;
}

.img1 {
    width: 100%;
    text-align: center;
    margin-left: -38px;
    margin-top: 42px;
}

.img1 img {
    width: 1235px;
    height: 600px;
    flex-shrink: 0;
}

.color-bar {
    background-color: #D9D9D9;
    width: 1206px;
    height: 47px;
    flex-shrink: 0;
    margin: 64px auto;
    transform: translateX(-40px);
    display: flex;
    justify-content: space-between;
    padding: 8px 96px 12px 37px;
    position: relative;
}

.color-bar .filt {
    position: relative;
}

.color-bar .filt::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    visibility: hidden;
}

.color-bar .filt:hover::after {
    transform: scaleX(1);
    visibility: visible;
}

.filt-choose {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.filt {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.vertical-line {
    background-color: #D9D9D9;
    width: 20px;
    height: 2205px;
    margin: -43px auto;
    transform: translateX(-30px);
}

.cars1-imgs {
    margin-top: 65px;
    display: flex;
}

.cars1-img1 {
    margin-left: -540px;
}

.cars1-img2 {
    margin-left: 98px;
}

.cars1-texts {
    display: flex;
    margin-top: 11px;
}

.cars1-text1 {
    margin-left: -540px;
}

.text1 {
    width: 422.212px;
    color: #1A1A1A;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.text2 {
    width: 247.121px;
    height: 19px;
    color: #000;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-top: 14px;
}

.cars1-text2 {
    margin-left: 180px;
}

.horisontal-line {
    width: 1149px;
    height: 16px;
    background: #D9D9D9;
    margin-top: 13px;
    margin-left: -560px;
}

.cars2-imgs {
    display: flex;
    margin-top: 20px;
}

.cars2-img1 {
    margin-left: -540px;
}

.cars2-img2 {
    margin-left: 102px;
}

.cars2-texts {
    display: flex;
}

.cars2-text1 {
    margin-top: 11px;
    margin-left: -540px;
}

.cars2-text2 {
    margin-top: 11px;
    margin-left: 180px;
}

.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 562px;
    height: 56px;
    margin: 100px auto;
    border: 1px solid #1A1A1A;
    background: #1A1A1A;
    cursor: pointer; 
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    color: #F7F7F7;
}

.care {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -36px;
    margin-left: 480px;
    position: relative;
}

.image__text1 {
    width: 603px;
    height: 108px;
    position: absolute;
    color: #F7F7F7;
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    transform: translate(-1404px, 19px);
}

.image__text1::after {
    content: "";
    width: 559px;
    height: 1px;
    background-color: #fff; 
    position: absolute;
    bottom: 53px; 
    left: -16px;
}

.image__text2 {
    width: 535px;
    height: 56px;   
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
    transform: translate(-1415px, 84px);
}

.back {
    width: 1440px;
    height: 417px;
    background-color: #CED3CA;
    margin: 0 auto;
    transform: translateX(-28px);
}

.back__text1 {
    width: 395px;
    height: 100px;
    color: #1A1A1A;
    text-align: center;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 40.8px;
    margin-left: 506px;
    transform: translateY(72px);
}

.back__text2 {
    width: 373px;
    height: 87px;
    color: #1A1A1A;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    margin-left: 514px;
    transform: translateY(76px);
}

.back__text3 {
    width: 373px;
    height: 87px;
    color: #1A1A1A;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    margin-left: 514px;
    transform: translateY(56px);
}

.email {
    margin-left: 500px;
    transform: translateY(12px);
    display: flex;
}

.email1 {
    width: 339.174px;
    height: 48px;
    border: 1px solid #242424;
    background-color: #FFF;
    outline: none;
}

.send__button {
    width: 66.229px;
    height: 48px;
    background: #FFF;
    border: 1px solid #242424;
}

.arrow {
    width: 29px;
    height: 45px;
    stroke-width: 3px;
    stroke: #000;
    margin-left: 17px;
}
